html {
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
box-sizing:border-box;
font-family:Lora,serif;
}

audio,canvas,progress,video {
display:inline-block;
vertical-align:baseline;
}

audio:not([controls]) {
display:none;
height:0;
}

[hidden],template {
display:none;
}

a {
background-color:transparent;
overflow-wrap:break-word;
word-wrap:break-word;
text-decoration:none;
color:#3705c5;
}

a:active,a:hover {
outline:0;
}

abbr[title] {
border-bottom:1px dotted;
}

dfn {
font-style:italic;
}

h1 {
font-size:2em;
margin:.67em 0;
}

mark {
background:#ff0;
color:#000;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

img {
border:0;
}

svg:not(:root) {
overflow:hidden;
}

figure {
margin:1em 40px;
}

hr {
box-sizing:content-box;
height:0;
}

code,kbd,pre,samp {
font-family:monospace;
font-size:1em;
}

button,input,optgroup,select,textarea {
color:inherit;
font:inherit;
margin:0;
}

button {
overflow:visible;
}

button,select {
text-transform:none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
-webkit-appearance:button;
cursor:pointer;
}

button[disabled],html input[disabled] {
cursor:default;
}

input {
line-height:normal;
}

input[type=checkbox],input[type=radio] {
box-sizing:border-box;
padding:0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
height:auto;
}

input[type=search] {
-webkit-appearance:textfield;
box-sizing:content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

table {
border-collapse:collapse;
border-spacing:0;
}

td,th {
padding:0;
}

*,:after,:before {
box-sizing:inherit;
}

@font-face {
font-family:icons;
src:url(../fonts/icons/icons.eot?45493349#iefix) format(embedded-opentype),url(../fonts/icons/icons.woff?45493349) format(woff),url(../fonts/icons/icons.ttf?45493349) format(truetype),url(../fonts/icons/icons.svg?45493349#switchbit-fonts) format(svg);
font-weight:400;
font-style:normal;
}

h1,h2,h3,h4,h5,h6 {
color:#3705c5;
margin-top:6vh;
}

h1,h1 a,h1 a:visited,h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h4 a,h4 a:visited,h5,h5 a,h5 a:visited,h6,h6 a,h6 a:visited {
font-family:nexa-bold,sans-serif;
}

h1 a:hover,h1 a:visited:hover,h2 a:hover,h2 a:visited:hover,h3 a:hover,h3 a:visited:hover,h4 a:hover,h4 a:visited:hover,h5 a:hover,h5 a:visited:hover,h6 a:hover,h6 a:visited:hover {
color:#f68d8b;
}

a:hover {
text-decoration:underline;
}

li,p {
line-height:1.618;
font-size:1.2rem;
color:#515150;
}

nav.navigation {
background-color:#3705c5;
min-height:60px;
width:100%;
z-index:1;
border-bottom:1px solid #ffe066;
opacity:.95;
position:fixed;
top:0;
}

nav.navigation .navigation-wrapper {
max-width:68em;
margin-left:auto;
margin-right:auto;
position:relative;
z-index:2;
}

nav.navigation a.logo {
float:left;
max-height:60px;
padding-left:1em;
padding-right:2em;
}

nav.navigation a.logo img {
max-height:60px;
float:left;
padding:.8em 0;
}

nav.navigation a.logo span {
color:#ffe066;
font-family:nexa-bold,sans-serif;
font-size:1.7em;
line-height:2.5em;
margin-left:.5em;
}

nav.navigation nav {
float:none;
min-height:60px;
z-index:3;
}

nav.navigation nav .nav-link {
color:#f5f5f5;
font-size:2.1em;
font-family:nexa-bold,sans-serif;
float:right;
text-decoration:none;
text-transform:uppercase;
padding:.5em 0 0;
}







@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #ffe066;
 /*#3705c5;*/
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #3705c5;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #f68d8b;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}











header>section {
float:left;
display:block;
margin-right:4.72458%;
width:100%;
/*background:#3705c5;*/
background:url(../images/header2.jpg) bottom center no-repeat #3705c5;
background-size:cover;
text-align:center;
border-bottom:2px solid #ffe066;
padding:6.72458%;
}

header>section img {
/*height:250px;*/
height:176px;
}

header>section h1 {
color:#ffe066;
}

header>section h2 {
color:#f5f5f5;
}

.post {
margin-bottom:8vh;
}

.post .post-meta .tags {
margin-top:30px;
}

.post .post-meta .tags a {
background-color:#fff5cc;
color:#3705c5;
font-size:.8em;
text-decoration:none;
padding:.5em;
}

.post .post-meta .tags a:hover {
background-color:#3705c5;
color:#f5f5f5;
}

.post .post-meta a {
color:#70c1b4;
}

.post h1,.post h2 {
margin-top:1vh;
margin-bottom:4vh;
}

.post .post-header h2 {
font-size:2em;
}

.post time {
margin-top:-4vh;
display:block;
font-size:1rem;
color:#70c1b4;
}

.post footer {
line-height:2rem;
font-size:1rem;
margin:2rem 0;
}

.post footer .author-thumb {
width:2em;
float:left;
margin-right:9px;
border-radius:100%;
}

.post-template .post h1 {
font-size:3em;
margin-bottom:1vh;
}

.post-template .post h2 {
margin-top:4vh;
font-size:2em;
}

.post-template .post h3 {
margin-top:4vh;
font-size:1.5em;
}

.post-template .post h4 {
margin-top:3vh;
font-size:1.3em;
}

.post-template .post img {
width:100%;
}

.post-template .post .post-meta time {
display:inline-block;
margin-top:0;
margin-bottom:1em;
}

.post-template .post .post-content {
margin-top:3em;
}

.post-template .post .post-content a {
color:#70c1b4;
font-weight:700;
}

.post-template .post .post-content code {
background-color:#f0f0f0;
}

.post-template .post .post-content pre>code {
margin:2vh 0;
}

.post-template .post .post-content pre>code.hljs {
padding:2vh;
}

.post-template .post .share {
margin-top:8rem;
text-align:center;
font-size:4em;
}

.post-template .post .share a {
color:#ffe066;
text-decoration:none;
}

.post-template .post .share a:hover {
color:#3705c5;
}

.post-template .post footer {
text-align:center;
margin:4rem 0 0;
}

.post-template .post footer img {
float:none;
width:4em;
margin-right:0;
}

.post-template .post footer a {
display:block;
font-size:1.5em;
font-family:nexa-bold,sans-serif;
}

.post-template .post footer p {
max-width:30em;
font-size:1.1em;
margin:1em auto;
}

.post-template .read-next {
background-color:#3705c5;
}

.post-template .read-next .next-posts {
max-width:68em;
margin-left:auto;
margin-right:auto;
display:table;
}

.post-template .read-next .next-posts a {
display:table-cell;
width:50%;
padding:4.72458%;
}

.post-template .read-next .next-posts a .post aside {
color:#ffe066;
font-size:1em;
}

.post-template .read-next .next-posts a .post h2 {
color:#f5f5f5;
margin:1em 0;
}

.post-template .read-next .next-posts a .post p {
color:#f5f5f5;
margin:0;
}

.post-template .read-next .next-posts a.prev .post {
text-align:right;
}

.archive-template h2 {
margin-top:6vh;
}

.author-template .author-section {
background-color:#fff5cc;
}

.author-template .author-section .author-profile {
max-width:68em;
margin-left:auto;
margin-right:auto;
padding:4.72458%;
}

.author-template .author-section .author-profile img {
float:left;
display:block;
margin-right:4.72458%;
width:12.72952%;
margin-top:2rem;
}

.author-template .author-section .author-profile .author-details {
float:left;
display:block;
margin-right:4.72458%;
width:82.545898%;
margin-top:2rem;
}

.author-template .author-section .author-profile .author-details h1 {
color:#3705c5;
margin:0;
}

.author-template .share {
background-color:#fff7d6;
text-align:center;
font-size:3em;
}

.tag-template .tag-section {
margin-top:60px;
background-color:#fff5cc;
}

.tag-template .tag-section .tag-details h1 {
color:#3705c5;
margin:0;
padding:4.72458%;
}

.post-template main {
margin-top:4rem;
}

nav.pagination {
max-width:68em;
margin-left:auto;
margin-right:auto;
position:relative;
text-align:center;
height:8em;
}

nav.pagination img {
height:6em;
margin-top:1em;
}

nav.pagination a.nav {
position:absolute;
top:50%;
font-size:2em;
}

nav.pagination a.nav.prev {
left:0;
}

nav.pagination a.nav.next {
right:0;
}

.container {
min-height:100%;
height:auto!important;
margin:0 auto -10em;
}

body,html {
height:100%;
}

.container:after {
content:"";
display:block;
}

.container:after,.footer {
height:10em;
}

.footer {
background-color:#ffe066;
}

.footer .legal {
background-color:#ffd633;
height:2em;
}

.footer .legal aside {
color:#515150;
line-height:3em;
font-size:.7em;
padding-left:1em;
}

[class*=" icon-"]:before,[class^=icon-]:before {
font-family:icons;
font-style:normal;
font-weight:400;
speak:none;
display:inline-block;
text-decoration:inherit;
width:1em;
margin-right:.2em;
text-align:center;
font-variant:normal;
text-transform:none;
line-height:1em;
margin-left:.2em;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.icon-rss:before {
content:'\e800';
}

.icon-tags:before {
content:'\e801';
}

.icon-twitter:before {
content:'\e802';
}

.icon-facebook:before {
content:'\e803';
}

.icon-gplus:before {
content:'\e804';
}

.icon-left-open:before {
content:'\e805';
}

.icon-right-open:before {
content:'\e806';
}

body,.post-template .post .post-meta .tags,.post-template .read-next .next-posts a .post {
margin:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,.post footer time {
display:block;
}

b,strong,optgroup {
font-weight:700;
}

pre,textarea {
overflow:auto;
}

button::-moz-focus-inner,input::-moz-focus-inner,legend {
border:0;
padding:0;
}

nav.navigation .navigation-wrapper:after,.post-template .read-next .next-posts:after,.author-template .author-section .author-profile:after,.tag-template .tag-section .tag-details:after,main:after,nav.pagination:after {
clear:both;
content:"";
display:table;
}

nav.navigation a.logo:hover,.post h1 a:hover,.post h2 a:hover {
text-decoration:none;
}

header>section:last-child,.author-template .author-section .author-profile img:last-child,.author-template .author-section .author-profile .author-details:last-child,main>section:last-child,main>article:last-child {
margin-right:0;
}

.tag-template .tag-section .tag-details,main {
margin-left:auto;
margin-right:auto;
max-width:68em;
}

main>section,main>article {
display:block;
float:left;
margin-right:4.72458%;
width:100%;
padding:4.72458%;
}

@media screen and max-width1280px {
nav.navigation {
max-height:30px;
}

header>section h2 {
margin-top:0;
}
}

@media screen and max-width480px {
nav.navigation a.logo {
padding:0;
}

nav.navigation nav .nav-link.social {
display:none;
}

header>section img {
height:150px;
}

header>section h2 {
font-size:1em;
}

.post {
margin-top:1rem;
}

.post .post-meta .tags {
margin-top:15px;
}

.post-template .post h3 {
font-size:1.3em;
}

.post-template .post h4 {
margin-top:4vh;
font-size:1.1em;
}

.post-template .post .share {
margin-top:4rem;
font-size:3em;
}

.post-template .read-next .next-posts a .post h2 {
font-size:1.2em;
}

.author-template .author-section .author-profile img {
float:left;
display:block;
margin-right:4.72458%;
width:100%;
}

.author-template .author-section .author-profile .author-details {
float:left;
display:block;
margin-right:4.72458%;
width:100%;
text-align:center;
}

.post .post-header h1,.post-template .post h1 {
font-size:2em;
}

.post .post-header h2,.post-template .post h2,.tag-template .tag-section .tag-details h1 {
font-size:1.5em;
}

.post-template .post footer p,.post-template .read-next .next-posts a .post p {
font-size:.8em;
}

.author-template .author-section .author-profile img:last-child,.author-template .author-section .author-profile .author-details:last-child {
margin-right:0;
}
}
