{{!< default}}

{{! The big featured header }}


{{#if @blog.cover}}
<header id="main-header" class="shadowed-text" style="background-image: url({{@blog.cover}})">
        <div id="main-header-shadow"></div> 

{{else}} 

<header id="main-header">
        <div class="bounding">

            <div id="main-header-content">
               {{/if}}
{{#if @blog.logo}}
<div id="logo-sec"> <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
</div>
{{/if}}


<!--<h1 id="page-title">{{@blog.title}}</h1>            
                <h2 id="page-descr">{{@blog.description}}</h2>-->
            </div>     
            <nav id="social-nav">
                <a class="social-link" href="https://www.facebook.com/groups/860266633992060/"><i class="fa fa-hateyou-f"></i></a>
                <a class="social-link" href="{{@blog.url}}/rss/"><i class="fa fa-hateyou-r"></i></a>
            </nav>
<div id='cssmenu'>
{{navigation}}
</div>
        </div>




    </header>

{{! The main content area on the homepage }}
<main id="content" class="bounding" role="main">
    <div class="frame">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
    </div>
</main>


{{! Previous/next page links - displayed on every page }}
{{! pagination}}
