{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#if image}}
<header id="main-header" class="post-header shadowed-text" style="background-image: url({{image}})">
    <div id="main-header-shadow"></div>

{{else}}

<header id="main-header" class="post-header">
{{/if}}


    <div class="bounding">
        <div id="main-header-content">
            <h1 id="page-title">{{title}}</h1>            
            <h2 id="page-descr"> 
            <a id="back-home" href="{{@blog.url}}">Back to Home</a>
            <!--{{date format="DD MMMM YYYY"}}--></h2>
        </div>     
        <nav id="social-nav">
            <a class="social-link" href="https://www.facebook.com/groups/860266633992060/"><i class="fa fa-facebook"></i></a>
            <a class="social-link" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
        </nav>
    </div>
</header>

<div class="bounding">
    <article id="main-article">
        {{content}}
<!--
        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>
-->
    </article>
</div>
{{/post}}
