{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#if image}}
<header id="main-header" class="post-header shadowed-text" style="background-image: url({{image}})">
    <div id="main-header-shadow"></div>

{{else}}

<header id="main-header" class="post-header">
{{/if}}

    <div class="bounding">
        <div id="main-header-content">
            <h1 id="page-title">{{title}}</h1>            
            <!--<h2 id="post-date">{{date format="DD MMMM YYYY"}}</h2>-->
            <h2 id="page-descr"> <a id="back-home" href="{{@blog.url}}">Back to Home</a></h2>
        </div>     
        <nav id="social-nav">
            <a class="social-link" href="https://www.facebook.com/groups/860266633992060/"><i class="fa fa-facebook"></i></a>
            <a class="social-link" href="{{@blog.url}}/rss/"><i class="fa fa-hateyou-r"></i></a>
        </nav>
    </div>
</header>

<div class="bounding">
    <article id="main-article">
        <div class="post-content">{{content}}</div>

        <section class="tags">
            {{tags prefix='on: '}}
        </section>

        <section class="share">
            <a class="twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-hateyou-t"></i>
            </a>
            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-hateyou-f"></i>
            </a>
            <a class="google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-hateyou-gp"></i>
            </a>
        </section>
    </article>
<!--
    <footer class="post-footer">
        {{#author}}

            {{#if image}}
            <a class="author-image" style="background-image: url({{image}})" href="{{url}}"></a>
            {{/if}}

            <h4 id="author-name"><a href="{{url}}">{{name}}</a></h4>

            <p id="author-bio">
            {{#if bio}}
                {{bio}}
            {{else}}
                Read <a href="{{url}}">more posts</a> by this author.
            {{/if}}
            </p>

            <div class="author-meta">
                {{#if location}}
                    <span class="author-location">{{location}}</span>
                {{/if}}
                    
                {{#if website}}
                    <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                {{/if}}
            </div>

        {{/author}}           

        </footer>
-->
    </article>
</div>
{{/post}}
