<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <title>{{meta_title}}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="{{meta_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{^if @blog.logo}}
    <script>function cdnizerLoad(u) {document.write('<scr'+'ipt src="'+encodeURIComponent(u)+'"></scr'+'ipt>');}</script><link rel="shortcut icon" href="{{asset "images/apple-touch-icon.png"}}" />
    <link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}" />
  {{/if}}

  <link rel="author" href="humans.txt" />

  <!-- bower:css -->
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css' />
  <!-- endbower -->

  <link rel="stylesheet" href="/assets/css/screen-e1be496531.css">

  <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
  {{> "top-nav"}}

  {{{body}}}
  </div>

  {{> "footer"}}

  <!-- bower:js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script><script>if(!(window.hljs)) cdnizerLoad("/bower_components/highlightjs/highlight.pack.js");</script>
  <!-- endbower -->

  <script src="/assets/js/main-910d84a9c3.js"></script>

  {{ghost_foot}}
</body>
</html>

