{{!< default}}

<header>

  {{#is "home"}}

  <div>
{{#if @blog.logo}}
      <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
    {{else}}
      <img src="/assets/images/brage-logo-0fab225d36.png" alt="Fairview Tennis Club"/>
    {{/if}}
    <div id="cssmenu">
    <ul>
        {{#foreach @blog.navigation}}
            <li><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
 </div>
<!--<h1>{{@blog.title}}</h1>-->

    <h2 class="page-description">{{@blog.description}}</h2>

  </div>


  <section {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}); background-size: cover{{else}}no-cover{{/if}}">
      </section>
  

  {{/is}}

</header>

<main>

  <section>
    {{#foreach posts}}
    {{> "post"}}
    {{/foreach}}
  </section>

</main>
