/*!
 * 
 * @author 
 * @version 1.0.0
 * 
 */

.frame {
  margin: 0 auto;
  max-width: 100%;
}
.frame:after {
  content: "";
  display: table;
  clear: both;
}

[class*='bit-'] {
  float: left;
}

.bit-small {
  width: 33.33333%;
}

.bit-medium {
  width: 50%;
}

.bit-large {
  width: 100%;
}

@media (max-width: 30em) {
  .bit-small, .bit-medium {
    width: 100%;
  }
}
@media (min-width: 30em) and (max-width: 68.75em) {
  .bit-small {
    width: 50%;
  }

  .bit-medium {
    width: 100%;
  }
}
p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
}

ol, ul {
  padding-left: 3rem;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

li {
  margin: 0.4em 0;
}

li li {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
  border-left: #4A4A4A 0.4em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #CCC;
}

blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: 700;
}

blockquote cite a {
  font-weight: normal;
}

mark {
  background-color: #FFC336;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: #E3EDF3 1px solid;
  background: #F7FAFB;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  border: #E3EDF3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

pre code, tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #CCC 1px solid;
  color: #666;
  text-shadow: #FFF 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}


/* PM@ MENU */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  display: block;
  background: #3705c5;
  position: absolute;
  /*margin-top: 14%;*/
  width: 100%;
  text-align: center;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #6F51C4;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/* PM@ END MENU */

#logo-sec {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 22em;
    text-align: center;
    /*float:left;
    width:20%;
    text-align:center;
    --position:absolute;
    left:0;
    top:0;*/
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #EFEFEF 1px solid;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: #EFEFEF 2px solid;
}

table table table {
  background-color: #FFF;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #F6F6F6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

iframe, .fluid-width-video-wrapper {
  display: block;
  margin: 1.75em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  max-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  max-height: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

a {
  color: #832f0c;
  font-weight: bold;
  text-decoration: none;
  transition: .2s ease-in-out;
}
a:hover, a:focus {
  color: #7986CB;
  text-shadow: 0 0 1px #7986CB;
}

body {
  background-color: #F2EFE8;
  color: #3A4145;
  font-family: "Roboto", serif;
}

::-moz-selection {
  background: #D6EDFF;
}

::selection {
  background: #D6EDFF;
}

.bounding {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 68.75em) {
  .bounding {
    width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: 50em) {
  .bounding {
    width: 100%;
  }
}

header#main-header {
  position: relative;
  background-color: #3F51B5;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 50em) {
  header#main-header {
    height: 300px;
  }
}
@media (max-width: 68.75em) and (orientation: landscape) {
  header#main-header:not(&.post-header) {
    height: 150px;
  }
}
@media (max-width: 30em) {
  header#main-header {
    height: 200px;
  }
}
header#main-header .bounding {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
}
header#main-header #main-header-shadow {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.2);
}
header#main-header.shadowed-text #main-header-content, header#main-header.shadowed-text nav#social-nav {
  text-shadow: 1px 2px 7px black;
}
header#main-header #main-header-content {
  position: absolute;
  text-align: left;
  color: white;
  bottom: 3em;
}
@media (min-width: 30em) and (max-width: 50em) {
  header#main-header #main-header-content {
    bottom: 15%;
    padding-left: 2em;
  }
}
@media (max-width: 30em) {
  header#main-header #main-header-content {
    font-size: 0.7em;
    padding-left: 2em;
    padding-right: 1em;
    bottom: 4em;
  }
}
header#main-header #main-header-content #page-title {
  margin: 0;
  padding: 0;
  font-size: 3em;
}
header#main-header #main-header-content #page-descr, header#main-header #main-header-content #post-date {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
  font-weight: 200;
}
#back-home {
    color:#ffffff;
    padding:0;
    margin:0;
    font-weight: 200;
}
header#main-header .author-image {
  position: absolute;
  bottom: -40px;
  right: 30px;
  width: 100px;
  height: 100px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: .3s ease-in-out;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 30em) {
  header#main-header .author-image {
    bottom: -20px;
    width: 80px;
    height: 80px;
  }
}
header#main-header .author-image:hover {
  border-radius: 5%;
  transform: scale(1.1, 1.1);
  box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.3), 0 8px 5px 0 rgba(0, 0, 0, 0.2);
}
header#main-header nav#social-nav {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
header#main-header nav#social-nav .social-link {
  color: white;
  font-size: 1.2em;
  padding: 0 0.5em;
}

header#main-header.post-header #main-header-content #post-date {
  margin-top: 0.4em;
  margin-left: 0.4em;
  font-size: 1.3em;
}
header#main-header.post-header .bounding {
  bottom: 6em;
}
@media (max-width: 50em) {
  header#main-header.post-header .bounding {
    bottom: 4em;
  }
}
@media (max-width: 30em) {
  header#main-header.post-header .bounding {
    bottom: 0;
  }
}

main#content {
  margin-top: 1em;
}
@media (min-width: 30em) {
  main#content {
    margin-top: 2em;
  }
}
main#content .bit-small .article {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1em 1em 2em;
  border-radius: 4px;
  background-color: #2b2b2b;
  height: 400px;
}
@media (min-width: 30em) {
  main#content .bit-small .article {
    transition: .4s ease-in-out;
  }
  main#content .bit-small .article:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.3), 0 8px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
main#content .bit-small .article .article-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #FAFAFA;
  font-size: 1.1em;
  padding: 0.7em 0;
}
main#content .author-info {
  position: relative;
  background-color: #FAFAFA;
  margin: 2em;
  padding: 2em;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 3em 1em 2em;
}
@media (max-width: 30em) {
  main#content .author-info {
    margin: 0;
    padding: 2em 1.5em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
main#content .author-info .author-bio {
  font-size: 1.3em;
  margin-bottom: 2em;
}
main#content .author-info > span {
  display: inline-block;
  width: 49%;
}
main#content .author-info .author-location {
  width: 100%;
  font-size: 1.2em;
}
main#content .author-info .author-stats {
  text-align: right;
}

article#main-article {
  position: relative;
  background-color: #FAFAFA;
  margin: 2em;
  padding: 2em;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: -6em;
}
article#main-article .post-content {
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (max-width: 30em) {
  article#main-article {
    margin: 0;
    padding: 2em 1.5em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 50em) {
  article#main-article {
    margin-top: -4em;
  }
}
@media (max-width: 30em) {
  article#main-article {
    margin-top: 0;
  }
}
article#main-article section.tags {
  width: 100%;
  text-align: center;
}

footer.post-footer {
  position: relative;
  background-color: #FAFAFA;
  margin: 2em;
  padding: 2em;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 4em;
}
@media (max-width: 30em) {
  footer.post-footer {
    margin: 0;
    padding: 2em 1.5em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 30em) {
  footer.post-footer {
    margin-top: 3em;
  }
}
footer.post-footer .author-image {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 5%;
  top: -30px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: .3s ease-in-out;
}
footer.post-footer .author-image:hover {
  border-radius: 5%;
  transform: scale(1.1, 1.1);
  box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.3), 0 8px 5px 0 rgba(0, 0, 0, 0.2);
}
footer.post-footer #author-name {
  font-size: 1.5em;
  margin-top: 0.3em;
}
footer.post-footer .author-meta {
  width: 100%;
}
footer.post-footer .author-meta > span {
  display: inline-block;
  width: 49%;
  font-weight: bold;
}
footer.post-footer .author-meta > span:last-child {
  text-align: right;
}
@media (max-width: 30em) {
  footer.post-footer .author-meta > span {
    display: block;
  }
  footer.post-footer .author-meta > span:last-child {
    margin-top: 0.3em;
    text-align: left;
  }
}

section.share {
  border-top: 1px solid RGBA(92, 103, 110, 0.4);
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 2em 0 .4em;
  text-align: center;
}
section.share > a {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-right: 3em;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
section.share > a:hover {
  box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.3), 0 8px 5px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 30em) {
  section.share > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 1em;
  }
}
section.share > a.facebook {
  background-color: #3b5998;
}
section.share > a.twitter {
  background-color: #00aced;
}
section.share > a.google-plus {
  background-color: #dd4b39;
}

nav.pagination {
  text-align: center;
  margin: 2em;
}
nav.pagination .newer-posts {
  font-weight: bold;
  margin-right: 2em;
}
nav.pagination .older-posts {
  font-weight: bold;
  margin-left: 2em;
}

footer#main-footer {
  padding: 2em 0;
  margin-top: 4em;
  width: 100%;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.32) inset;
  background-color: #C5C5C5;
}
footer#main-footer #main-footer-content {
  text-align: center;
  font-size: 0.8em;
}
footer#main-footer #main-footer-content > span {
  display: inline-block;
}
footer#main-footer #main-footer-content > span:after {
  content: '/';
  margin: 0 .7em;
}
footer#main-footer #main-footer-content > span:last-child:after {
  content: '';
  margin: 0;
}
footer#main-footer #main-footer-content > span > span {
  color: #262B2E;
}

/*# sourceMappingURL=style.css.map */
