<footer class="footer" role="contentinfo">
  {{#is "index, tag, author"}}
    {{pagination}}
  {{else}}
    <nav class="pagination" role="navigation">
      <!-- <a href="{{@blog.url}}"><img src="/assets/images/brage-logo-0fab225d36.png" alt="Brage Theme"></a> -->
    </nav>
  {{/is}}
  <!--<section class="legal">
    <aside>Brage theme by <a href="http://switchbit.io">Switchbit</a></aside>
  </section>-->
</footer>
